<div class="wrapper">
  <h1>About us</h1>
  <br>
  <p>
    The LEREM offers its services to its members and also to all companies involved in metal packaging (mainly steel and
    aluminium producers, food / cosmetic / industrial pakers, and the retail industry) to resolve all the problems they
    may face in the vast field of metal packaging and its numerous applications.
  </p>
  <br>
  <p>
    Services cover expert assessments , tests, packaging approvals for which the LEREM is equipped with a wide range of
    testing platforms and employs a staff exclusively composed of engineers and technicians.
  </p>
  <br>
  <p>
    The LEREM is also involved in other types of general-interest work, i.e. monitoring of technological and regulatory
    developments, standardization and regulatory, work, industry-focused research and development work.
  </p>
  <br>

</div>
